<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        form {
            display: flex;
            flex-direction: column;
            max-width: 300px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        label {
            font-weight: bold;
        }
        input, select {
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        button {
            background-color: #007bff;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div style="margin-top: 120px;">
        <form action="/users/<%= userId %>/editProfile" method="post" autocomplete="off">
            <h1>Edit Profile</h1>
            <div class="id">
                <% err?.forEach(el => { %>
                    <h6 style=" color: red;"><%= el %></h6>
                <% }); %>
            </div>
            <label for="fullName">Full Name</label>
            <input type="text" id="fullName" name="fullName" value="<%= data.fullName %>">

            <label for="phoneNumber">Phone Number</label>
            <input type="text" id="phoneNumber" name="phoneNumber" value="<%= data.phoneNumber %>">

            <label for="address">Address</label>
            <input type="text" id="address" name="address" value="<%= data.address %>">

            <label for="bio">Bio</label>
            <input type="text" id="bio" name="bio" value="<%= data.bio %>">

            <label for="birthDate">Birth Date</label>
            <input type="date" id="birthDate" name="birthDate" value="<%= data.formattedDate() %>">

            <button type="submit">Update</button>
        </form>
    </div>
</body>
</html>
