<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>BESCROLL</h3>
    <a href="/posts/explorePage"><button>Explore Page</button></a>
    <a href="/users/<%= userId %>/showProfilePage"><button>My Profile Page</button></a>
    <a href="/users/<%= userId %>/editProfile"><button>Edit Profile</button></a>

    <% if (postHashtagUser.length === 0) { %>
        <h1>NO POST FROM ALL USER</h1>
    <% } else { %>
        <% postHashtagUser.forEach( (el) => { %>
            <table border="1">
                <tr>
                    <td>Username: <%= el.User.username %></td>
                </tr>
                <tr>
                    <td><img src="<%= el.imgUrl %>" alt="Picture"></td>
                </tr>
                <tr>
                    <td>Title of posts: <%= el.title %></td>
                </tr>
                <tr>
                    <td>Desc of picture: <%= el.content %></td>
                </tr>
                
                

                <tr>
                    <td>
                    <% el.Hashtags.forEach ((each) => {%>  
                        <a href="/posts/<%=userId%>/<%= el.id%>/FilterByHT?hashtag=<%=each.PostHashtag.HashtagId%>"><button><%= each.name %></button></a>
                    <% }) %>
                    </td>
                </tr>
                
        
                <tr>
                <td>Date of post: <%= changeDate(el.dateOfPost) %></td>
                </tr>
            </table>
            <br><br><br>
        <% }) %>
        

    <% } %>

    
</body>
</html>